form {
  /* border: solid 1px #333; */
  border-radius: 20px;
  margin:auto;
  width: 100%; 
  max-width: 600px;
  padding: 1em;
}

.login__title {
  text-align: left;
  color: white;
  margin-bottom: 30px;
  width: 100%;
  font-size: 1.3em;
}

.login__input{
  color: #333;
  font-size: 1.2rem;
	margin-left: auto;
  margin-bottom: 25px;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.4rem;
  background-color: rgb(255, 255, 255);
  border: none;
  /* border-bottom: 0.3rem solid transparent; */
  transition: all 0.3s;
  outline: none;
}

.login__buttons {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.login__button {
  border-radius: 0.4rem;
  border: none;
  background-color: white;
  color: black;
  /* justify-content: center; */
  /* text-transform: uppercase; */
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  width: 35%;
  transition: all 0.4s;
  cursor: pointer;
}

